h2, p {
    color: white !important;
    opacity: 0.9;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.8s ease-out;
    z-index: 1000000000;
}

.modal-content {
    background: #4C6661;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.9);
    animation: zoomIn 0.5s ease-out forwards;
    max-width: 400px;
    width: 90%;
}

.modal-logo {
    max-width: 90%;
    margin-bottom: 15px;
}

.container-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 480px) {
    .modal-content {
        max-width: 90%;
        font-size: 14px;
        padding: 15px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}