<div class="modal-overlay" (click)="fecharModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="fecharModal()">&times;</button>
        <div class="modal-inner-content">
            <div class="img-profissional">
                <img [src]="profissional.imagem" alt="Foto de {{ profissional.nome }}" class="profile-image" />
            </div>
            <h2>{{ profissional.nome }}</h2>
            <h3>{{ profissional.titulo }}</h3>
            <h4>{{ profissional.subtitulo }}</h4>

            <div class="social-links">
                <!-- <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
                  <i class="fab fa-linkedin"></i>
                </a> -->
                <a href="{{profissional.instagram}}" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram instagram-icon-bg"></i>
                </a>
                <a href="{{profissional.whatsapp}}" target="_blank" aria-label="WhatsApp">
                    <i class="fab fa-whatsapp whatsapp-icon-bg"></i>
                </a>
            </div>

            <div class="bg-info">
                <h4>Formação Acadêmica:</h4>
                <ul>
                    <li *ngFor="let formacao of profissional.formacao">{{ formacao }}</li>
                </ul>
            </div>

            <div class="bg-info">
                <h4>Público-Alvo:</h4>
                <ul>
                    <li *ngFor="let publico of profissional.publicoAlvo">{{ publico }}</li>
                </ul>
            </div>

            <div class="bg-info">
                <h4>Atuação Profissional:</h4>
                <p>{{ profissional.atuacao }}</p>
            </div>


        </div>
    </div>
</div>